.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 10vh;
    position: fixed;
    width: 100%;
    border: 2px solid red;
    z-index: 1;
}

.nav-container-logo{
    height: 75px;
}

.nav-container__links{
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;

}

.nav-container li{
    margin-right: 2rem;
    font-size: 1.5em;
    font-weight: 400;
}

.nav-container__links img{
    width: 65px;
    -webkit-box-shadow: -3px 3px 3px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: -3px 3px 3px 0px rgba(0,0,0,0.44);
    box-shadow: -3px 3px 3px 0px rgba(0,0,0,0.44);
    border-radius:2rem;
}
